body {
  font-family: 'Trebuchet MS', sans-serif; }

.buffer-top {
  margin-top: 5px; }

.app-logo {
  width: 170px; }

.form-search {
  padding-top: 20px; }
  .form-search .form-group {
    padding-bottom: 10px; }
