<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Client</h1>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-sm-6">
              Mme Cécile Tourmeix
            </div>
            <div class="col-sm-6">
              ctourneix@hachette-livre.fr
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              58, rue Jean Bleuzen
            </div>
            <div class="col-sm-6">
              tel1 : 01.49.92.37.37
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              92178 VANVES
            </div>
            <div class="col-sm-6">
              tel1 : 01.49.92.38.11
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              France
            </div>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="hidden-xs">Ens.</th>
              <th>Client</th>
              <th class="hidden-xs">Séq.</th>
              <th class="hidden-xs">Club</th>
              <th class="hidden-xs hidden-sm">Libellé</th>
              <th class="hidden-xs">Support</th>
              <th class="hidden-xs">Adhés.</th>
              <th class="hidden-xs">Niv.</th>
              <th>Solde</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="hidden-xs">1</td>
              <td>20236252</td>
              <td class="hidden-xs">001</td>
              <td class="hidden-xs">34711</td>
              <td class="hidden-xs hidden-sm">Disney Club</td>
              <td class="hidden-xs">B3452</td>
              <td class="hidden-xs">02/15</td>
              <td class="hidden-xs">4</td>
              <td>-32,40&nbsp;&euro;</td>
              <td>
                <a href="#/contrat">
                  <span class="hidden-xs hidden-sm">Factures</span>
                  <span class="visible-xs visible-sm">Fact.</span>
                </a>
              </td>
              <td>
                <a href="#/client">
                  <span class="hidden-xs hidden-sm">Prélèvement</span>
                  <span class="visible-xs visible-sm">Prél.</span>
                </a>
              </td>
              <td>
                <a href="#/client">
                  <a href="#/client">
                    <span class="hidden-xs hidden-sm">Paiement</span>
                    <span class="visible-xs visible-sm">Solde</span>
                  </a>
              </td>
            </tr>
            <tr>
              <td class="hidden-xs">2</td>
              <td>30262512</td>
              <td class="hidden-xs">002</td>
              <td class="hidden-xs">22211</td>
              <td class="hidden-xs hidden-sm">Marvel</td>
              <td class="hidden-xs">8888</td>
              <td class="hidden-xs">06/14</td>
              <td class="hidden-xs">12</td>
              <td>0&nbsp;&euro;</td>
              <td>
                <a href="#/contrat">
                  <span class="hidden-xs hidden-sm">Factures</span>
                  <span class="visible-xs visible-sm">Fact.</span>
                </a>
              </td>
              <td>
                <a href="#/client">
                  <span class="hidden-xs hidden-sm">Prélèvement</span>
                  <span class="visible-xs visible-sm">Prél.</span>
                </a>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="hidden-xs">2</td>
              <td>30262512</td>
              <td class="hidden-xs">003</td>
              <td class="hidden-xs">22248</td>
              <td class="hidden-xs hidden-sm">Marvel</td>
              <td class="hidden-xs">3333</td>
              <td class="hidden-xs">08/14</td>
              <td class="hidden-xs">1</td>
              <td>0&nbsp;&euro;</td>
              <td>
                <a href="#/contrat">
                  <span class="hidden-xs hidden-sm">Factures</span>
                  <span class="visible-xs visible-sm">Fact.</span>
                </a>
              </td>
              <td>
                <a href="#/client">
                  <span class="hidden-xs hidden-sm">Prélèvement</span>
                  <span class="visible-xs visible-sm">Prél.</span>
                </a>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <p class="text-center">
        <a href="#/recherche" class="btn btn-default">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="hidden-xs">Retour Sélection</span>
        </a>

        <a href="#/client" class="btn btn-info">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="hidden-xs">Nouveau Contrat</span>
        </a>
      </p>

    </div>
  </div>
</div>