<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <ol class="breadcrumb buffer-top hidden-print">
        <li><a href="#/recherche-sans-resultat">Recherche</a></li>
        <li>Client</li>
      </ol>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-sm-4">
              Mme Cécile Tourmeix
              <br />
              ctourneix@hachette-livre.fr
            </div>
            <div class="col-sm-4">
              tel1 : 01.49.92.37.37
              <br />
              tel2 : 01.49.92.38.11
            </div>
            <div class="col-sm-4">
              58, rue Jean Bleuzen
              <br />
              92178 VANVES
              <br />
              France
            </div>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th class="input-th">
                  <input type="text" class="form-control input-sm hidden-print" placeholder="Ens." />
                  <span class="visible-print">Ens.</span>
                </th>
                <th>Client</th>
                <th>Séq.</th>
                <th>Club</th>
                <th>Libellé</th>
                <th>Support</th>
                <th>Adhés.</th>
                <th>Niv.</th>
                <th>Solde</th>
                <th class="hidden-print"></th>
                <th class="hidden-print"></th>
                <th class="hidden-print"></th>
                <th class="hidden-print"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>20236252</td>
                <td>001</td>
                <td>34711</td>
                <td>Disney Club</td>
                <td>B3452</td>
                <td>02/15</td>
                <td>4</td>
                <td>-32,40&nbsp;&euro;</td>
                <td class="hidden-print">
                  <a href="#/contrat" class="btn btn-info btn-xs" title="Factures">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                  </a>
                </td>
                <td class="hidden-print">
                  <a href="#/client" class="btn btn-info btn-xs" title="Prélèvement">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </a>
                </td>
                <td class="hidden-print">
                  <a href="#/client" class="btn btn-info btn-xs" title="Paiement solde">
                    <span class="glyphicon glyphicon-credit-card"></span>
                  </a>
                </td>
                <td class="hidden-print"></td>
              </tr>
              <tr class="danger">
                <td>2</td>
                <td>30262512</td>
                <td>002</td>
                <td>22211</td>
                <td>Marvel</td>
                <td>8888</td>
                <td>06/14</td>
                <td>12</td>
                <td>0&nbsp;&euro;</td>
                <td class="hidden-print">
                  <a href="#/contrat" class="btn btn-info btn-xs" title="Factures">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                  </a>
                </td>
                <td class="hidden-print">
                  <a href="#/client" class="btn btn-info btn-xs" title="Prélèvement">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </a>
                </td>
                <td class="hidden-print"></td>
                <td class="hidden-print">
                  <a href="#/client" class="btn btn-default btn-xs" title="Supprimer">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>30262512</td>
                <td>003</td>
                <td>22248</td>
                <td>Marvel</td>
                <td>3333</td>
                <td>08/14</td>
                <td>1</td>
                <td>0&nbsp;&euro;</td>
                <td class="hidden-print">
                  <a href="#/contrat" class="btn btn-info btn-xs" title="Factures">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                  </a>
                </td>
                <td class="hidden-print">
                  <a href="#/client" class="btn btn-info btn-xs" title="Prélèvement">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </a>
                </td>
                <td class="hidden-print"></td>
                <td class="hidden-print"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <p class="text-center hidden-print">
        <a href="#/recherche" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span>Retour</span>
        </a>

        <a href="#/nouveau-contrat" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-plus"></span>
          <span>Nouveau Contrat</span>
        </a>
      </p>

    </div>
  </div>
</div>