<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <h1>Client</h1>

      <div class="panel panel-default">
        <div class="panel-body">

          <div class="row">
            <div class="col-sm-6">
              Mme Cécile Tourmeix
            </div>
            <div class="col-sm-6">
              ctourneix@hachette-livre.fr
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              58, rue Jean Bleuzen
            </div>
            <div class="col-sm-6">
              tel1 : 01.49.92.37.37
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              92178 VANVES
            </div>
            <div class="col-sm-6">
              tel1 : 01.49.92.38.11
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              France
            </div>
          </div>

        </div>
      </div>
      
      
      <div class="panel panel-info">
        <div class="panel-body">

          <div class="row">
            <div class="col-sm-6">
              Contrat : 20236252 001
            </div>
            <div class="col-sm-6">
              Disney Club du Livre
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              Solde : -32,40
            </div>
            <div class="col-sm-6">
              Dernier Envoi : 10/09/2015
            </div>
          </div>

        </div>
      </div>



      <table class="table table-striped">
        <thead>
          <tr>
            <th>Num. Facture</th>
            <th>Date Facture</th>
            <th>Niv. Envoi</th>
            <th>Montant</th>
            <th>Solde</th>
            <th>Paiement</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1023365223</td>
            <td>10/09/2015</td>
            <td>4</td>
            <td>12,90</td>
            <td>-12,90</td>
            <td>
              <input type="checkbox" name="check-facture-1"/>
            </td>
          </tr>
          <tr>
            <td>1001251252</td>
            <td>08/08/2015</td>
            <td>3</td>
            <td>12,90</td>
            <td>-12,90</td>
            <td>
              <input type="checkbox" name="check-facture-1"/>
            </td>
          </tr>
          <tr>
            <td>1023365223</td>
            <td>07/07/2015</td>
            <td>2</td>
            <td>12,90</td>
            <td>-6,60</td>
            <td>
              <input type="checkbox" name="check-facture-1"/>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        <a href="#/client" class="btn btn-default">
          <span class="glyphicon glyphicon-chevron-left"></span>
          Retour
        </a>
        
        <a href="#/contrat" class="btn btn-default">
          <span class="glyphicon glyphicon-usd"></span>
          Paiement
        </a>
        
        <a href="#/contrat" class="btn btn-default">
          <span class="glyphicon glyphicon-credit-card"></span>
          Prélèvement
        </a>
      </p>

    </div>
  </div>
</div>