<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <ol class="breadcrumb hidden-print">
        <li><a href="#/recherche-sans-resultat">Recherche</a></li>
        <li><a href="#/client">Client</a></li>
        <li><a href="#/contrat">Contrat</a></li>
        <li>Prélèvement Direct Debit</li>
      </ol>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="form-banque" class="col-sm-3 control-label">
            Nom Banque 
            <span class="badge hidden-xs hidden-sm" title="Nom Banque et Building">?</span>
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-banque" placeholder="Barclays" autofocus="">
          </div>
        </div>

        <div class="form-group">
          <label for="form-nom" class="col-sm-3 control-label">
            Nom titulaire
            <span class="badge hidden-xs hidden-sm" title="Nom du titulaire du compte bancaire">?</span>
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-nom" placeholder="Michel Dupont" autofocus="">
          </div>
        </div>

        <div class="form-group">
          <label for="form-code-compte" class="col-sm-3 control-label">Code Compte</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-code-compte" placeholder="AGRIFRPP882">
          </div>
        </div>

        <div class="form-group">
          <label for="form-num-compte" class="col-sm-3 control-label">Numéro Compte</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-num-compte" placeholder="FR19 2004 1100 2000 5874 1005 T15">
          </div>
        </div>

        <div class="form-group">
          <label for="form-date-signature" class="col-sm-3 control-label">Date signature</label>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="29" id="form-date-signature">
          </div>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="02">
          </div>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="16">
          </div>
        </div>

        <div class="form-group hidden-print">
          <div class="col-sm-9 col-sm-push-3">
            <p>
              <a href="#/direct-debit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
                Soumettre
              </a>

              <a href="#/direct-debit" class="btn btn-info">
                <span class="glyphicon glyphicon-refresh"></span>
                Réinitialiser
              </a>
            </p>
          </div>

          <div class="col-sm-3 col-sm-pull-9">
            <p>
              <a href="#/contrat" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Retour
              </a>
            </p>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>