<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <h1>Prélèvement Direct Debit</h1>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="form-banque" class="col-sm-3 control-label">
            Nom Banque 
            <span class="badge hidden-xs hidden-sm" title="Nom Banque et Building">?</span>
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-banque" placeholder="Barclays" autofocus="">
          </div>
        </div>

        <div class="form-group">
          <label for="form-nom" class="col-sm-3 control-label">
            Nom titulaire
            <span class="badge hidden-xs hidden-sm" title="Nom du titulaire du compte bancaire">?</span>
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-nom" placeholder="Michel Dupont" autofocus="">
          </div>
        </div>

        <div class="form-group">
          <label for="form-code-compte" class="col-sm-3 control-label">Code Compte</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-code-compte" placeholder="AGRIFRPP882">
          </div>
        </div>

        <div class="form-group">
          <label for="form-num-compte" class="col-sm-3 control-label">Numéro Compte</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-num-compte" placeholder="FR19 2004 1100 2000 5874 1005 T15">
          </div>
        </div>

        <div class="form-group">
          <label for="form-prenom" class="col-sm-3 control-label">Date signature</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="form-prenom" placeholder="22/03/2016">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <a href="#/" class="btn btn-info">
              <span class="glyphicon glyphicon-ok"></span>
              Soumettre
            </a>

            <a href="#/" class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span>
              Annuler
            </a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>