<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Gestion des opérations en cours</h1>

      <div class="panel panel-default">
        <table class="table table-striped table-hover operation-table">
          <tbody>
            <tr>
              <td title="Commande">
                <span class="glyphicon glyphicon-transfer"></span>
              </td>
              <td>Nom et prénom du client</td>
              <td>Code postal et localité</td>
              <td class="hidden-xs">Adresse (Ligne 1 t 2)</td>
              <td class="hidden-xs hidden-sm">Club-Support</td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Prélèvement Carte Bancaire">
                <span class="glyphicon glyphicon-credit-card"></span>
              </td>
              <td>Numéro contrat</td>
              <td>Numéro CB masqué</td>
              <td class="hidden-xs"></td>
              <td class="hidden-xs hidden-sm"></td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Prélèvement SEPA">
                <span class="glyphicon glyphicon-usd"></span>
              </td>
              <td>Numéro contrat</td>
              <td>BIC</td>
              <td class="hidden-xs">IBAN</td>
              <td class="hidden-xs hidden-sm"></td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Prélèvement Direct Debit">
                <span class="glyphicon glyphicon-fire"></span>
              </td>
              <td>Numéro contrat</td>
              <td>Sort code</td>
              <td class="hidden-xs">Numéro compte</td>
              <td class="hidden-xs hidden-sm">Nom Banque et Building</td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Paiement Unitaire par carte bancaire">
                <span class="glyphicon glyphicon-piggy-bank"></span>
              </td>
              <td>Numéro contrat</td>
              <td>Montant</td>
              <td class="hidden-xs">Numéro CB masqué</td>
              <td class="hidden-xs hidden-sm"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td title="Commande">
                <span class="glyphicon glyphicon-transfer"></span>
              </td>
              <td>Nom et prénom du client</td>
              <td>Code postal et localité</td>
              <td class="hidden-xs">Adresse (Ligne 1 t 2)</td>
              <td class="hidden-xs hidden-sm">Club-Support</td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Prélèvement Carte Bancaire">
                <span class="glyphicon glyphicon-credit-card"></span>
              </td>
              <td>Numéro contrat</td>
              <td>Numéro CB masqué</td>
              <td class="hidden-xs"></td>
              <td class="hidden-xs hidden-sm"></td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Prélèvement SEPA">
                <span class="glyphicon glyphicon-usd"></span>
              </td>
              <td>Numéro contrat</td>
              <td>BIC</td>
              <td class="hidden-xs">IBAN</td>
              <td class="hidden-xs hidden-sm"></td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Prélèvement Direct Debit">
                <span class="glyphicon glyphicon-fire"></span>
              </td>
              <td>Numéro contrat</td>
              <td>Sort code</td>
              <td class="hidden-xs">Numéro compte</td>
              <td class="hidden-xs hidden-sm">Nom Banque et Building</td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Paiement Unitaire par carte bancaire">
                <span class="glyphicon glyphicon-piggy-bank"></span>
              </td>
              <td>Numéro contrat</td>
              <td>Montant</td>
              <td class="hidden-xs">Numéro CB masqué</td>
              <td class="hidden-xs hidden-sm"></td>
              <td class="text-right"></td>
            </tr>
            <tr>
              <td title="Commande">
                <span class="glyphicon glyphicon-transfer"></span>
              </td>
              <td>Nom et prénom du client</td>
              <td>Code postal et localité</td>
              <td class="hidden-xs">Adresse (Ligne 1 t 2)</td>
              <td class="hidden-xs hidden-sm">Club-Support</td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Prélèvement Carte Bancaire">
                <span class="glyphicon glyphicon-credit-card"></span>
              </td>
              <td>Numéro contrat</td>
              <td>Numéro CB masqué</td>
              <td class="hidden-xs"></td>
              <td class="hidden-xs hidden-sm"></td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Prélèvement SEPA">
                <span class="glyphicon glyphicon-usd"></span>
              </td>
              <td>Numéro contrat</td>
              <td>BIC</td>
              <td class="hidden-xs">IBAN</td>
              <td class="hidden-xs hidden-sm"></td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Prélèvement Direct Debit">
                <span class="glyphicon glyphicon-fire"></span>
              </td>
              <td>Numéro contrat</td>
              <td>Sort code</td>
              <td class="hidden-xs">Numéro compte</td>
              <td class="hidden-xs hidden-sm">Nom Banque et Building</td>
              <td class="text-right">
                <a href="#/" title="Supprimer">Supp.</a>
              </td>
            </tr>
            <tr>
              <td title="Paiement Unitaire par carte bancaire">
                <span class="glyphicon glyphicon-piggy-bank"></span>
              </td>
              <td>Numéro contrat</td>
              <td>Montant</td>
              <td class="hidden-xs">Numéro CB masqué</td>
              <td class="hidden-xs hidden-sm"></td>
              <td class="text-right"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>