<div class="container-fluid cyan dark-1 container-header">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="row">
          <div class="col-sm-6">
            <a href="#/">
              <img src="img/logo.png" alt="Logo" class="img-responsive app-logo" />
            </a>
          </div>

          <div class="col-sm-6">
            <div class="btn-toolbar pull-right buffer-top" role="toolbar" aria-label="User configuration bar">
              <div class="btn-group" role="group" aria-label="Langage switch">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Fr <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="#/recherche">Français</a></li>
                  <li><a href="#/contrat">Anglais</a></li>
                  <li><a href="#/">Italien</a></li>
                </ul>
              </div>

              <div class="btn-group " role="group" aria-label="Logout">
                <button type="button" class="btn btn-primary" title="Afficher profil">
                  <span class="glyphicon glyphicon-user" title="ILEVEAU"></span>
                  <span class="hidden-xs">JDOE</span>
                </button>

                <button type="button" class="btn btn-warning" title="Se déconnecter">
                  <span class="glyphicon glyphicon-off"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>