<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="row">
        <div class="col-sm-4">
          <a href="#/">
            <img src="img/logo.jpg" alt="Logo" class="img-responsive app-logo" />
          </a>
        </div>

        <div class="btn-group pull-right buffer-top" role="group" aria-label="group">
          <button type="button" class="btn btn-success" title="Afficher profil">
            Fr
          </button>
          <button type="button" class="btn btn-success" title="Afficher profil">
            En
          </button>
          <button type="button" class="btn btn-success" title="Afficher profil">
            It
          </button>
          <button type="button" class="btn btn-primary" title="Afficher profil">
            <span class="glyphicon glyphicon-user"></span>
            ILEVEAU
          </button>
          <button type="button" class="btn btn-warning" title="Se déconnecter">
            <span class="glyphicon glyphicon-off"></span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>