<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Maquettes</h1>
      <p>v1.1.1</p>

      <div class="list-group">
        <a class="list-group-item disabled" href="#/">
          S01 · Authentification <span class="label label-default">Écran déjà disponible</span>
        </a>
        <a class="list-group-item disabled" href="#/">
          S02 · Choix du langage <span class="label label-default">Écran déjà disponible</span>
        </a>
        <a class="list-group-item" href="#/recherche-sans-resultat">
          S03 · Recherche sans résultat
        </a>
        <a class="list-group-item" href="#/recherche">
          S04 · Recherche des commandes
        </a>
        <a class="list-group-item" href="#/client">
          S05 · Client
        </a>
        <a class="list-group-item" href="#/nouveau-client">
          S06 · Nouveau client
        </a>
        <a class="list-group-item" href="#/contrat">
          S07 · Contrat
        </a>
        <a class="list-group-item" href="#/nouveau-contrat">
          S08 · Nouveau contrat
        </a>
        <a class="list-group-item" href="#/sepa">
          S09 · Prélèvement SEPA
        </a>
        <a class="list-group-item" href="#/direct-debit">
          S10 · Prélèvement Direct Debit
        </a>
      </div>

    </div>
  </div>
</div>