<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Accueil Maquettes HIPAY</h1>

      <div class="list-group">
        <a href="#/recherche" class="list-group-item">Saisie des commandes</a>
        <a href="#/recherche-sans-resultat" class="list-group-item">Saisie des commandes sans résultat</a>
        <a href="#/nouveau-client" class="list-group-item">Nouveau client</a>
        <a href="#/client" class="list-group-item">Client</a>
        <a href="#/contrat" class="list-group-item">Contrat</a>
      </div>
    </div>
  </div>
</div>