<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <ol class="breadcrumb buffer-top hidden-print">
        <li><a href="#/recherche-sans-resultat">Recherche</a></li>
        <li>Nouveau client</li>
      </ol>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="form-civilite" class="col-sm-3 control-label">Civilité</label>
          <div class="col-sm-9">
            <label class="radio-inline">
              <input type="radio" name="form-civilite" id="form-civilite" value="1" checked="">
              Monsieur
            </label>
            <label class="radio-inline">
              <input type="radio" name="form-civilite" value="2">
              Madame
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="form-nom" class="col-sm-3 control-label">Nom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-nom" placeholder="Dupont" autofocus="">
          </div>
        </div>

        <div class="form-group has-success has-feedback">
          <label for="form-prenom" class="col-sm-3 control-label">Prénom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-prenom" placeholder="Michel" value="Michel">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          </div>
        </div>

        <div class="form-group">
          <label for="form-complement" class="col-sm-3 control-label">Complément Nom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-complement" placeholder="Bernard">
          </div>
        </div>

        <div class="form-group">
          <label for="form-adresse-1" class="col-sm-3 control-label">Adresse Ligne 1</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-adresse-1" placeholder="11 rue Paul Bert">
          </div>
        </div>

        <div class="form-group">
          <label for="form-adresse-2" class="col-sm-3 control-label">Adresse Ligne 2</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-adresse-2" placeholder="Deuxième étage, Escalier A">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-code-postal" class="col-sm-6 control-label">Code Postal</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="form-code-postal" placeholder="92240">
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-ville" class="col-sm-3 control-label">Ville</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="form-ville" placeholder="Malakoff">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group has-error has-feedback">
          <label for="form-courriel" class="col-sm-3 control-label" title="Champ obligatoire">Courriel *</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="form-courriel" placeholder="michel.dupont@gmail.com">
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-telephone-1" class="col-sm-6 control-label">Téléphone 1</label>
              <div class="col-sm-6">
                <input type="tel" class="form-control" id="form-telephone-1" placeholder="0123456789">
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-telephone-2" class="col-sm-6 control-label">Téléphone 2</label>
              <div class="col-sm-6">
                <input type="tel" class="form-control" id="form-telephone-2" placeholder="0612345789">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-courriel-externe" class="col-sm-6 control-label">Courriel externe</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="form-courriel-externe" id="form-courriel-externe" value="1" checked="">
                  Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-courriel-externe" value="0">
                  Non
                </label>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-courriel-hachette" class="col-sm-6 control-label">Courriel Hachette</label>
              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="form-courriel-hachette" id="form-courriel-hachette" value="1" checked="">
                  Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-courriel-hachette" value="0">
                  Non
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-stop-location" class="col-sm-6 control-label">Stop Location</label>

              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="form-stop-location" id="form-stop-location" value="1" checked="">
                  Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-stop-location" value="0">
                  Non
                </label>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-stop-telephone" class="col-sm-6 control-label">Stop Téléphone</label>

              <div class="col-sm-6">
                <label class="radio-inline">
                  <input type="radio" name="form-stop-telephone" id="form-stop-telephone" value="1" checked="">
                  Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-stop-telephone" value="0">
                  Non
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group hidden-print">
          <div class="col-sm-offset-3 col-sm-9">
            <a href="#/client" class="btn btn-info">
              <span class="glyphicon glyphicon-ok"></span>
              Créer
            </a>

            <a href="#/recherche-sans-resultat" class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span>
              Annuler
            </a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>