<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <h1>Nouveau client</h1>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="form-civilite" class="col-sm-3 control-label">Civilité</label>
          <div class="col-sm-9">
            <select class="form-control" id="form-civilite">
              <option>Monsieur</option>
              <option>Madame</option>
              <option>Autre</option>
            </select>
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-nom" class="col-sm-3 control-label">Nom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-nom" placeholder="Dupont">
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-prenom" class="col-sm-3 control-label">Prénom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-prenom" placeholder="Michel">
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-complement" class="col-sm-3 control-label">Complément Nom</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-complement" placeholder="Féri">
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-adresse-1" class="col-sm-3 control-label">Adresse Ligne 1</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-adresse-1" placeholder="11 rue Paul Bert">
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-adresse-2" class="col-sm-3 control-label">Adresse Ligne 2</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-adresse-2" placeholder="Deuxième étage, Escalier A">
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-code" class="col-sm-3 control-label">Code Postal</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-code" placeholder="92240">
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-ville" class="col-sm-3 control-label">Ville</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-ville" placeholder="Malakoff">
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-courriel" class="col-sm-3 control-label">Courriel</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="form-courriel" placeholder="michel.dupont@gmail.com">
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-telephone-1" class="col-sm-3 control-label">Téléphone 1</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" id="form-telephone-1" placeholder="0123456789">
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-telephone-2" class="col-sm-3 control-label">Téléphone 2</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" id="form-telephone-2" placeholder="0612345789">
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-courriel-externe" class="col-sm-3 control-label">Courriel externe</label>
          <div class="col-sm-9">
            <select class="form-control" id="form-courriel-externe">
              <option>Oui</option>
              <option>Non</option>
            </select>
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-courriel-hachette" class="col-sm-3 control-label">Courriel Hachette</label>
          <div class="col-sm-9">
            <select class="form-control" id="form-courriel-hachette">
              <option>Oui</option>
              <option>Non</option>
            </select>
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-stop-location" class="col-sm-3 control-label">Stop Location</label>
          <div class="col-sm-9">
            <select class="form-control" id="form-stop-location">
              <option>Oui</option>
              <option>Non</option>
            </select>
          </div>
        </div>
        
        <div class="form-group">
          <label for="form-stop-telephone" class="col-sm-3 control-label">Stop Téléphone</label>
          <div class="col-sm-9">
            <select class="form-control" id="form-stop-telephone">
              <option>Oui</option>
              <option>Non</option>
            </select>
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <a href="#/recherche" class="btn btn-info">
              <span class="glyphicon glyphicon-ok"></span>
              Créer
            </a>
            
            <a href="#/recherche" class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span>
              Annuler
            </a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>