<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <ol class="breadcrumb hidden-print">
        <li><a href="#/recherche-sans-resultat">Recherche</a></li>
        <li><a href="#/client">Client</a></li>
        <li>Nouveau contrat</li>
      </ol>

      <form class="form-horizontal">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-enseigne" class="col-sm-6 control-label">Enseigne</label>
              <div class="col-sm-6">
                <select id="form-enseigne" class="form-control" autofocus="">
                  <option>Enseigne 1</option>
                  <option>Enseigne 2</option>
                  <option>Enseigne 3</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-club" class="col-sm-6 control-label">Club</label>
              <div class="col-sm-6">
                <select id="form-club" class="form-control">
                  <option>Club 1</option>
                  <option>Club 2</option>
                  <option>Club 3</option>
                </select>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-support" class="col-sm-6 control-label">Support</label>
              <div class="col-sm-6">
                <select id="form-support" class="form-control">
                  <option>Support 1</option>
                  <option>Support 2</option>
                  <option>Support 3</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-beg" class="col-sm-6 control-label">
                Top BEG <span class="badge hidden-xs hidden-sm" title="Top BEG (signé ou non signé)">?</span>
              </label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="form-beg" placeholder="S ou NS" maxlength="2">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-num-demarrage" class="col-sm-6 control-label">
                Numéro démarrage 
                <span class="badge hidden-xs hidden-sm" title="Numéro de démarrage pour un abonnement">?</span>
              </label>
              <div class="col-sm-3 col-md-2">
                <input type="text" class="form-control" id="form-num-demarrage" placeholder="123">
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-top-filtrage" class="col-sm-6 control-label">
                Top filtage 
                <span class="badge hidden-xs hidden-sm" title="Top filtrage de la commande">?</span>
              </label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="form-top-filtrage" placeholder="1, 2 ou 3" maxlength="1">
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="form-dossier" class="col-sm-3 control-label">Numéro dossier</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="form-dossier" placeholder="456789" disabled="">
          </div>
          <div class="col-sm-2 hidden-print">
            <button type="submit" class="btn btn-info" title="Modifier le numéro de dossier" data-toggle="modal" data-target="#edit-folder-modal">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>


        <div class="form-group form-group-no-margin">
          <label for="form-date-demarrage" class="col-sm-3 control-label">
            Date démarrage 
            <span class="badge hidden-xs hidden-sm" title="Date de démarrage du contrat">?</span>
          </label>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="29" id="form-date-demarrage">
          </div>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="02">
          </div>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="16">
          </div>
        </div>


        <div class="form-group">
          <label for="form-adresse-livraison" class="col-sm-3 control-label">
            Adresse livraison 
            <span class="badge hidden-xs hidden-sm" title="Adresse de livraison, si elle est différente de l'adresse de facturation">?</span>
          </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="form-adresse-livraison" placeholder="11 rue Paul Bert, 92240 Malakoff" disabled="">
          </div>
          <div class="col-sm-2 hidden-print">
            <button type="submit" class="btn btn-info" title="Modifier l'adresse de livraison" data-toggle="modal" data-target="#edit-address-modal">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-courriel-hachette" class="col-sm-6 control-label">Courriel Hachette</label>
              <div class="col-sm-6">
                <label class="radio-inline" title="Non Déterminé">
                  <input type="radio" name="form-courriel-hachette" id="form-courriel-hachette" value="0" checked="">
                  ND
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-courriel-hachette" value="1">
                  Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-courriel-hachette" value="2">
                  Non
                </label>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-courriel-externe" class="col-sm-6 control-label">Courriel externe</label>
              <div class="col-sm-6">
                <label class="radio-inline" title="Non Déterminé">
                  <input type="radio" name="form-courriel-externe" id="form-courriel-externe" value="0" checked="">
                  ND
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-courriel-externe" value="1">
                  Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-courriel-externe" value="2">
                  Non
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-stop-location" class="col-sm-6 control-label">Stop Location</label>
              <div class="col-sm-6">
                <label class="radio-inline" title="Non Déterminé">
                  <input type="radio" name="form-stop-location" id="form-stop-location" value="0" checked="">
                  ND
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-stop-location" value="1">
                  Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-stop-location" value="2">
                  Non
                </label>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-stop-telephone" class="col-sm-6 control-label">Stop Téléphone</label>
              <div class="col-sm-6">
                <label class="radio-inline" title="Non Déterminé">
                  <input type="radio" name="form-stop-telephone" id="form-stop-telephone" value="0" checked="">
                  ND
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-stop-telephone" value="1">
                  Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-stop-telephone" value="2">
                  Non
                </label>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-stop-mailing" class="col-sm-6 control-label">Stop Mailing</label>
              <div class="col-sm-6">
                <label class="radio-inline" title="Non Déterminé">
                  <input type="radio" name="form-stop-mailing" value="0" id="form-stop-mailing" checked="">
                  ND
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-stop-mailing" value="1">
                  Oui
                </label>
                <label class="radio-inline">
                  <input type="radio" name="form-stop-mailing" value="2">
                  Non
                </label>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="form-adresse-livraison" class="col-sm-3 control-label">
            Articles 
          </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="form-adresse-livraison" placeholder="2213699226, 9213699226, 7221369226" disabled="">
          </div>
          <div class="col-sm-2 hidden-print">
            <button type="submit" class="btn btn-info" title="Modifier la liste d'articles" data-toggle="modal" data-target="#edit-article-list">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </div>
        </div>
        
        
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-montant-1" class="col-sm-6 control-label">
                Montant articles 
                <span class="badge hidden-xs hidden-sm" title="Montant du paiement à la commande">?</span>
              </label>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" id="form-montant-1" value="42,00" readonly="">
                  <div class="input-group-addon">&euro;</div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-montant-frais" class="col-sm-6 control-label">
                Montant frais 
                <span class="badge hidden-xs hidden-sm" title="Montant des frais (sans calcul automatique en fonction du nombre d'articles)">?</span>
              </label>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" id="form-montant-frais" placeholder="42,00">
                  <div class="input-group-addon">&euro;</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-montant-total" class="col-sm-6 control-label">
                Montant total 
                <span class="badge hidden-xs hidden-sm" title="Montant total de la commande pour un One Shot de type 'Kiosque'">?</span>
              </label>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" id="form-montant-total" placeholder="42,00">
                  <div class="input-group-addon">&euro;</div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-montant-paiement" class="col-sm-6 control-label">Montant paiement</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" class="form-control" id="form-montant-paiement" placeholder="42,00">
                  <div class="input-group-addon">&euro;</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-type-1" class="col-sm-6 control-label">Type paiement</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="form-type-1" placeholder="CB" maxlength="2">
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-echeance" class="col-sm-6 control-label">Nombre échéances</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="form-echeance" placeholder="6" disabled="">
              </div>
            </div>
          </div>
        </div>


        <div class="row buffer-form-top">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-genre" class="col-sm-6 control-label">Genre</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="form-genre" placeholder="I, G ou F" maxlength="1">
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="form-date-naissance" class="col-sm-6 control-label">Prénom enfant</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="form-prenom" placeholder="Michel">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="form-date-naissance" class="col-sm-3 control-label">Date naissance</label>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="29" id="form-date-naissance">
          </div>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="02">
          </div>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="16">
          </div>
        </div>

        <div class="form-group hidden-print">
          <div class="col-sm-9 col-sm-push-3">
            <p>
              <a href="#/contrat" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
                Créer
              </a>

              <a href="#/nouveau-contrat" class="btn btn-info">
                <span class="glyphicon glyphicon-refresh"></span>
                Réinitialiser
              </a>
            </p>
          </div>

          <div class="col-sm-3 col-sm-pull-9">
            <p>
              <a href="#/client" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Retour
              </a>
            </p>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="edit-folder-modal" tabindex="-1" role="dialog" aria-labelledby="edit-folder-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="edit-folder-label">Modification du numéro de dossier</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" value="456789" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Annuler
        </button>
        <button type="button" class="btn btn-info" data-dismiss="modal">
          Sauvegarder
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-address-modal" tabindex="-1" role="dialog" aria-labelledby="edit-address-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="edit-address-label">Adresse de livraison</h4>
      </div>
      <div class="modal-body">
        
        <form class="form-horizontal">
          <div class="form-group">
            <label for="livraison-civilite" class="col-sm-3 control-label">Civilité *</label>
            <div class="col-sm-9">
              <label class="radio-inline">
                <input type="radio" name="livraison-civilite" id="livraison-civilite" value="1" checked="">
                Monsieur
              </label>
              <label class="radio-inline">
                <input type="radio" name="livraison-civilite" value="2">
                Madame
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-nom" class="col-sm-3 control-label">Nom *</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="livraison-nom" placeholder="Dupont">
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-prenom" class="col-sm-3 control-label">Prénom *</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="livraison-prenom" placeholder="Michel">
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-complement" class="col-sm-3 control-label">Complément Nom</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="livraison-complement" placeholder="Bernard">
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-adresse-1" class="col-sm-3 control-label">Complément Adresse</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="livraison-adresse-1" placeholder="58 Rue Jean Bleuzen">
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-adresse-2" class="col-sm-3 control-label">Adresse *</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="livraison-adresse-2" placeholder="11 rue Paul Bert">
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-code-postal" class="col-sm-3 control-label">Code Postal *</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="livraison-code-postal" placeholder="92240">
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-localite-1" class="col-sm-3 control-label">Localité Distribution *</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="livraison-localite-1" placeholder="Malakoff">
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-localite-2" class="col-sm-3 control-label">Localité Acheminement</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="livraison-localite-2" placeholder="Vanves">
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-pays" class="col-sm-3 control-label">Pays *</label>
            <div class="col-sm-3">
              <select class="form-control" id="livraison-pays" tabindex="9">
                <option>Pays 1</option>
                <option>Pays 2</option>
                <option>Pays 3</option>
                <option>Pays 4</option>
                <option>Pays 5</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-courriel" class="col-sm-3 control-label" title="Champ obligatoire">Courriel *</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="livraison-courriel" placeholder="michel.dupont@gmail.com">
            </div>
          </div>
          
          <div class="form-group">
            <label for="livraison-telephone-1" class="col-sm-3 control-label">Téléphone 1</label>
            <div class="col-sm-9">
              <input type="tel" class="form-control" id="livraison-telephone-1" placeholder="0123456789">
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-telephone-2" class="col-sm-3 control-label">Téléphone 2</label>
            <div class="col-sm-9">
              <input type="tel" class="form-control" id="livraison-telephone-2" placeholder="0612345789">
            </div>
          </div>


          <div class="form-group">
            <label for="livraison-forcage-adresse" class="col-sm-3 control-label">Forçage Adresse</label>
            <div class="col-sm-9">
              <label class="radio-inline">
                <input type="radio" name="livraison-forcage-adresse" value="1">
                Oui
              </label>
              <label class="radio-inline">
                <input type="radio" name="livraison-forcage-adresse" id="livraison-forcage-adresse" value="2" checked="">
                Non
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-date-debut-validite" class="col-sm-3 control-label">Date Début Validité</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="29" id="livraison-date-debut-validite">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="02">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="2016">
            </div>
          </div>

          <div class="form-group">
            <label for="livraison-date-fin-validite" class="col-sm-3 control-label">Date Fin Validité</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="29" id="livraison-date-fin-validite">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="02">
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="2016">
            </div>
          </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Annuler
        </button>
        <button type="button" class="btn btn-info" data-dismiss="modal">
          Sauvegarder
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-article-list" tabindex="-1" role="dialog" aria-labelledby="edit-article-list">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="edit-article-list">Liste d'articles</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="form-code-activite" class="col-sm-3 control-label">
              Code Activité
              <span class="badge hidden-xs hidden-sm" title="Code activité du club sélectionné pour le contrat">?</span>
            </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="form-code-activite" value="ABC" placeholder="XXX" maxlength="3">
            </div>
          </div>
        </form>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Quantité</th>
              <th>Référence</th>
              <th>Libellé</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" class="form-control" value="5" placeholder="0" />
              </td>
              <td>2213699226</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>9,99&nbsp;&euro;</td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-control" value="3" placeholder="0" />
              </td>
              <td>9213699226</td>
              <td>Suspendisse lectus tortor</td>
              <td>14,99&nbsp;&euro;</td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="0" />
              </td>
              <td>6221469211</td>
              <td>Duis arcu massa, scelerisque</td>
              <td>9,99&nbsp;&euro;</td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-control" placeholder="0" />
              </td>
              <td>1369922637</td>
              <td>Ut in risus volutpat libero</td>
              <td>18,90&nbsp;&euro;</td>
            </tr>
            <tr>
              <td>
                <input type="text" class="form-control" value="2" placeholder="0" />
              </td>
              <td>7221369226</td>
              <td>Maecenas adipiscing ante non</td>
              <td>21,95&nbsp;&euro;</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Annuler
        </button>
        <button type="button" class="btn btn-info" data-dismiss="modal">
          Sauvegarder
        </button>
      </div>
    </div>
  </div>
</div>