<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Saisie des commandes</h1>

      <div class="panel panel-default">
        <div class="panel-body">

          <form class="form-horizontal">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="form-client" class="col-xs-4 col-lg-5 control-label">N° Client / Séq.</label>

                  <div class="col-xs-8 col-sm-5 col-lg-4">
                    <input type="text" class="form-control" id="form-client" placeholder="1234567890" maxlength="10" tabindex="1" autofocus=""/>
                  </div>

                  <div class="col-xs-8 col-xs-offset-4 col-sm-3 col-sm-offset-0 col-md-3">
                    <input type="text" class="form-control" id="form-sequence" placeholder="123" maxlength="3" tabindex="2" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="form-nom" class="col-xs-4 col-lg-5 control-label">Nom</label>
                  <div class="col-xs-8 col-lg-7">
                    <input type="text" class="form-control" id="form-nom" placeholder="Rousseau" tabindex="5" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="form-email" class="col-xs-4 col-lg-5 control-label">Email</label>
                  <div class="col-xs-8 col-lg-7">
                    <input type="email" class="form-control" id="form-email" placeholder="michel.dupont@gmail.com" tabindex="8" />
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label for="form-dossier" class="col-xs-4 col-md-5 control-label">N° Dossier</label>
                  <div class="col-xs-8 col-md-7">
                    <input type="text" class="form-control" id="form-dossier" placeholder="123456" maxlength="6" tabindex="3" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="form-enseigne" class="col-xs-4 col-md-5 control-label">Enseigne</label>
                  <div class="col-xs-8 col-md-7">
                    <select class="form-control" id="form-enseigne" tabindex="6">
                      <option>Toutes</option>
                      <option>Enseigne 1</option>
                      <option>Enseigne 2</option>
                      <option>Enseigne 3</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="form-location" class="col-xs-4 col-md-5 control-label">Localité</label>
                  <div class="col-xs-8 col-md-7">
                    <input type="text" class="form-control" id="form-location" placeholder="Malakoff" tabindex="9" />
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label for="form-facture" class="col-xs-4 col-md-5 col-lg-6 control-label">N° Facture</label>
                  <div class="col-xs-8 col-md-7 col-lg-6">
                    <input type="text" class="form-control" id="form-facture" placeholder="123456" maxlength="6" tabindex="4" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="form-code" class="col-xs-4 col-md-5 col-lg-6 control-label">Code Postal</label>
                  <div class="col-xs-8 col-md-7 col-lg-6">
                    <input type="text" class="form-control" id="form-code" placeholder="92240" maxlength="6" tabindex="7" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row text-center">
              <a href="#/recherche" class="btn btn-info" tabindex="10">
                <span class="glyphicon glyphicon-search"></span>
                <span class="hidden-xs">Rechercher</span>
              </a>

              <!--<button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search"></span>
                <span class="hidden-sm">Rechercher</span>
              </button>-->

              <a href="#/recherche-sans-resultat" class="btn btn-info" tabindex="11">
                <span class="glyphicon glyphicon-refresh"></span>
                <span class="hidden-xs">Rafraîchir</span>
              </a>

              <!--<button type="reset" class="btn btn-info">
                <span class="glyphicon glyphicon-refresh"></span>
                <span class="hidden-sm">Rafraîchir</span>
              </button>-->
            </div>
          </form>

        </div>
      </div>


      <h3>42 résultats pour votre recherche</h3>

      <div class="panel panel-default">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th class="hidden-xs">Adresse</th>
              <th>Code Postal</th>
              <th class="hidden-xs">Localité</th>
              <th class="hidden-xs">Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Rousseau</td>
              <td>Gustave</td>
              <td class="hidden-xs">23 rue Jean Bleuze</td>
              <td>77150</td>
              <td class="hidden-xs">LESIGNY</td>
              <td class="hidden-xs">g.rousseau@yahoo.fr</td>
              <td><a href="#/client">Éditer</a></td>
            </tr>
            <tr>
              <td>Rousseau</td>
              <td>Alphonse</td>
              <td class="hidden-xs">16 rue de Sèze</td>
              <td>69004</td>
              <td class="hidden-xs">LYON</td>
              <td class="hidden-xs"></td>
              <td><a href="#/client">Éditer</a></td>
            </tr>
            <tr>
              <td>Rousseau</td>
              <td>Emma</td>
              <td class="hidden-xs">13 rue de Wattignies</td>
              <td>75012</td>
              <td class="hidden-xs">PARIS</td>
              <td class="hidden-xs">emma7588@orange.fr</td>
              <td><a href="#/client">Éditer</a></td>
            </tr>
            <tr>
              <td>Rousseau</td>
              <td>Gustave</td>
              <td class="hidden-xs">23 rue Jean Bleuze</td>
              <td>77150</td>
              <td class="hidden-xs">LESIGNY</td>
              <td class="hidden-xs">g.rousseau@yahoo.fr</td>
              <td><a href="#/client">Éditer</a></td>
            </tr>
            <tr>
              <td>Rousseau</td>
              <td>Alphonse</td>
              <td class="hidden-xs">16 rue de Sèze</td>
              <td>69004</td>
              <td class="hidden-xs">LYON</td>
              <td class="hidden-xs"></td>
              <td><a href="#/client">Éditer</a></td>
            </tr>
            <tr>
              <td>Rousseau</td>
              <td>Emma</td>
              <td class="hidden-xs">13 rue de Wattignies</td>
              <td>75012</td>
              <td class="hidden-xs">PARIS</td>
              <td class="hidden-xs">emma7588@orange.fr</td>
              <td><a href="#/client">Éditer</a></td>
            </tr>
            <tr>
              <td>Rousseau</td>
              <td>Gustave</td>
              <td class="hidden-xs">23 rue Jean Bleuze</td>
              <td>77150</td>
              <td class="hidden-xs">LESIGNY</td>
              <td class="hidden-xs">g.rousseau@yahoo.fr</td>
              <td><a href="#/client">Éditer</a></td>
            </tr>
            <tr>
              <td>Rousseau</td>
              <td>Alphonse</td>
              <td class="hidden-xs">16 rue de Sèze</td>
              <td>69004</td>
              <td class="hidden-xs">LYON</td>
              <td class="hidden-xs"></td>
              <td><a href="#/client">Éditer</a></td>
            </tr>
            <tr>
              <td>Rousseau</td>
              <td>Emma</td>
              <td class="hidden-xs">13 rue de Wattignies</td>
              <td>75012</td>
              <td class="hidden-xs">PARIS</td>
              <td class="hidden-xs">emma7588@orange.fr</td>
              <td><a href="#/client">Éditer</a></td>
            </tr>
            <tr>
              <td>Rousseau</td>
              <td>Gustave</td>
              <td class="hidden-xs">23 rue Jean Bleuze</td>
              <td>77150</td>
              <td class="hidden-xs">LESIGNY</td>
              <td class="hidden-xs">g.rousseau@yahoo.fr</td>
              <td><a href="#/client">Éditer</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <nav>
        <center>
          <ul class="pagination">
            <li>
              <a href="#/recherche" aria-label="Précédent">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#/recherche">1</a></li>
            <li><a href="#/recherche">2</a></li>
            <li><a href="#/recherche">3</a></li>
            <li><a href="#/recherche">4</a></li>
            <li>
              <a href="#/recherche" aria-label="Suivant">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </center>
      </nav>

      <p class="text-center">
        <a href="#/nouveau-client" class="btn btn-default buffer-bottom">
          <span class="glyphicon glyphicon-plus"></span>
          Nouveau client
        </a>
      </p>

    </div>
  </div>
</div>