<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <ol class="breadcrumb hidden-print">
        <li>Recherche</li>
      </ol>

      <div class="panel panel-default">
        <div class="panel-body">

          <form class="form-horizontal">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group form-group-sm">
                  <label for="form-client" class="col-xs-4 col-lg-5 control-label">N° Client / Séq.</label>
                  <div class="col-xs-8 col-sm-5 col-lg-4">
                    <input type="text" class="form-control" id="form-client" placeholder="1234567890" maxlength="10" tabindex="1" autofocus=""/>
                  </div>
                  <div class="col-xs-8 col-xs-offset-4 col-sm-3 col-sm-offset-0 col-md-3">
                    <input type="text" class="form-control" id="form-sequence" placeholder="123" maxlength="3" tabindex="2" />
                  </div>
                </div>

                <div class="form-group form-group-sm">
                  <label for="form-nom" class="col-xs-4 col-lg-5 control-label">Nom</label>
                  <div class="col-xs-8 col-lg-7">
                    <input type="text" class="form-control" id="form-nom" placeholder="Rousseau" tabindex="5" />
                  </div>
                </div>

                <div class="form-group form-group-sm">
                  <label for="form-email" class="col-xs-4 col-lg-5 control-label">Email</label>
                  <div class="col-xs-8 col-lg-7">
                    <input type="email" class="form-control" id="form-email" placeholder="michel.dupont@gmail.com" tabindex="8" />
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group form-group-sm">
                  <label for="form-dossier" class="col-xs-4 col-md-5 control-label">N° Dossier</label>
                  <div class="col-xs-8 col-md-7">
                    <input type="text" class="form-control" id="form-dossier" placeholder="123456" maxlength="6" tabindex="3" />
                  </div>
                </div>

                <div class="form-group form-group-sm  ">
                  <label for="form-code" class="col-xs-4 col-md-5 control-label">Code Postal</label>
                  <div class="col-xs-8 col-md-7">
                    <input type="text" class="form-control" id="form-code" placeholder="92240" maxlength="6" tabindex="6" />
                  </div>
                </div>

                <div class="form-group form-group-sm">
                  <label for="form-enseigne" class="col-xs-4 col-md-5 control-label">Enseigne</label>
                  <div class="col-xs-8 col-md-7">
                    <select class="form-control" id="form-enseigne" tabindex="9">
                      <option>Toutes</option>
                      <option>Enseigne 1</option>
                      <option>Enseigne 2</option>
                      <option>Enseigne 3</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group form-group-sm">
                  <label for="form-facture" class="col-xs-4 col-md-5 col-lg-6 control-label">N° Facture</label>
                  <div class="col-xs-8 col-md-7 col-lg-6">
                    <input type="text" class="form-control" id="form-facture" placeholder="123456" maxlength="6" tabindex="4" />
                  </div>
                </div>

                <div class="form-group form-group-sm">
                  <label for="form-location" class="col-xs-4 col-md-5 col-lg-6 control-label">Localité</label>
                  <div class="col-xs-8 col-md-7 col-lg-6">
                    <input type="text" class="form-control" id="form-location" placeholder="Malakoff" tabindex="7" />
                  </div>
                </div>

                <div class="form-group form-group-sm hidden-print">
                  <div class="col-xs-8 col-xs-offset-4 col-md-7 col-md-offset-5 col-lg-6 col-lg-offset-6">

                    <a href="#/recherche" class="btn btn-info btn-sm" tabindex="10" title="Rechercher">
                      <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <!--<button type="submit" class="btn btn-info">
                      <span class="glyphicon glyphicon-search"></span>
                      <span class="hidden-sm">Rechercher</span>
                    </button>-->

                    <a href="#/recherche-sans-resultat" class="btn btn-info btn-sm" tabindex="11" title="Rafraîchir">
                      <span class="glyphicon glyphicon-refresh"></span>
                    </a>

                    <!--<button type="reset" class="btn btn-info">
                      <span class="glyphicon glyphicon-refresh"></span>
                      <span class="hidden-sm">Rafraîchir</span>
                    </button>-->

                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>