<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <ol class="breadcrumb hidden-print">
        <li><a href="#/recherche-sans-resultat">Recherche</a></li>
        <li><a href="#/client">Client</a></li>
        <li><a href="#/contrat">Contrat</a></li>
        <li>Prélèvement SEPA</li>
      </ol>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="form-nom" class="col-sm-3 control-label">
            Nom titulaire 
            <span class="badge hidden-xs hidden-sm" title="Nom du titulaire du compte bancaire">?</span>
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-nom" placeholder="Michel Dupont" autofocus="">
          </div>
        </div>

        <div class="form-group">
          <label for="form-code-bic" class="col-sm-3 control-label">Code BIC</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="form-code-bic" placeholder="AGRIFRPP">
          </div>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" id="form-code-bic-2" placeholder="882">
          </div>
        </div>



        <div class="form-group form-group-sepa">
          <label for="form-num-iban" class="col-sm-3 control-label">Numéro IBAN</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="form-num-iban" placeholder="FR19">
          </div>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="form-num-iban" placeholder="2004">
          </div>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="form-num-iban" placeholder="1100">
          </div>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="form-num-iban" placeholder="2000">
          </div>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="form-num-iban" placeholder="5874">
          </div>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="form-num-iban" placeholder="1005">
          </div>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="form-num-iban" placeholder="T15E">
          </div>
          <div class="col-sm-2 col-md-2">
            <input type="text" class="form-control" id="form-num-iban" placeholder="FR19G">
          </div>
        </div>

        <div class="form-group">
          <label for="form-date-signature" class="col-sm-3 control-label">
            Date signature 
            <span class="badge hidden-xs hidden-sm" title="Date de signature du mandat">?</span>
          </label>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="29" id="form-date-signature">
          </div>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="02">
          </div>
          <div class="col-sm-2 col-md-1">
            <input type="text" class="form-control" placeholder="16">
          </div>
        </div>

        <div class="form-group hidden-print">
          <div class="col-sm-9 col-sm-push-3">
            <p>
              <a href="#/sepa" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
                Soumettre
              </a>

              <a href="#/sepa" class="btn btn-info">
                <span class="glyphicon glyphicon-refresh"></span>
                Réinitialiser
              </a>
            </p>
          </div>

          <div class="col-sm-3 col-sm-pull-9">
            <p>
              <a href="#/contrat" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Retour
              </a>
            </p>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>