<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Prélèvement SEPA</h1>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="form-nom" class="col-sm-3 control-label">
            Nom titulaire 
            <span class="badge hidden-xs hidden-sm" title="Nom du titulaire du compte bancaire">?</span>
          </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-nom" placeholder="Michel Dupont" autofocus="">
          </div>
        </div>

        <div class="form-group">
          <label for="form-code-bic" class="col-sm-3 control-label">Code BIC</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-code-bic" placeholder="AGRIFRPP882">
          </div>
        </div>

        <div class="form-group">
          <label for="form-num-iban" class="col-sm-3 control-label">Numéro IBAN</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="form-num-iban" placeholder="FR19 2004 1100 2000 5874 1005 T15">
          </div>
        </div>

        <div class="form-group">
          <label for="form-date-signature" class="col-sm-3 control-label">
            Date signature 
            <span class="badge hidden-xs hidden-sm" title="Date de signature du mandat">?</span>
          </label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="form-date-signature">
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <a href="#/" class="btn btn-info">
              <span class="glyphicon glyphicon-ok"></span>
              Soumettre
            </a>

            <a href="#/" class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span>
              Annuler
            </a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>